<% content_for :title do %>Content Block - <%= @content_block.title %><% end %>

<p>
  <strong>Title:</strong>
  <%=h @content_block.title %>
</p>
<p>
  <strong>Tags:</strong>
	<td><%= tag_list(@content_block) %></td>
</p>
<p>
  <strong>Pages:</strong>
	<td><%= page_list(@content_block) %></td>	
</p>
<p>
  <strong>Summary:</strong>
	<td><%= @content_block.summary %></td>	
</p>
<%= RedCloth.new(@content_block.bodytext).to_html %>
<p>
  <%= link_to "Edit", edit_content_block_path(@content_block) %> |
  <%= link_to "Destroy", @content_block, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", content_blocks_path %>
</p>
