<% content_for :title do %>Edit Profile<% end %>
Edit Profile

<% form_for @user do |f| %>
<%= oauth_register_hidden_input %>
<%= tag(:input, {:type => "hidden", :name => "oauth_provider", :value => :twitter}) %>
Associate Twitter: <%= f.submit "Register" %>
<% end %>

<% form_for @user do |f| %>
<%= oauth_register_hidden_input %>
<%= tag(:input, {:type => "hidden", :name => "oauth_provider", :value => :facebook}) %>
Associate Facebook: <%= f.submit "Register" %>
<% end %>


<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>