<% content_for :title do %>Register new user<% end %>
Register New User
<% form_for @user do |f| %>
	<%= oauth_register_button :value => "Register with Twitter" %><br/>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<%= recaptcha_tags %>
  <p><%= f.submit "Submit" %></p>
<% end %>