<% content_for :title do %>Content Page - <%= @content_page.name %><% end %>

<p>
  <strong>Name:</strong>
  <%=h @content_page.name %>
</p>
<% if @content_page.home  %>
<p>
  <strong>Is the Homepage</strong>
</p>
<% end %>
<% if @content_page.navbar  %>
<p>
  <strong>Is in the Navbar</strong>
</p>
<% end %>
<% if @content_page.block != nil %>
<p>
  <strong>Block:</strong>
  <%=h link_to(@content_page.block.title, @content_page.block) %>
</p>
<% end %>
<% if @content_page.tag != nil %>
<p>
  <strong>Tag:</strong>
  <%=h link_to(@content_page.tag.name, @content_page.tag) %>
</p>
<% end %>

<p>
  <%= link_to "Edit", edit_content_page_path(@content_page) %> |
  <%= link_to "Destroy", @content_page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", content_pages_path %>
</p>
