<% content_for :title do %>Log In<% end %>
<h1>Login</h1>
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br /></strong>
  <%= f.text_field :login, :autocorrect => "off", :autocapitalize => "off" %><br/>
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>
