<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html "xmlns"="http://www.w3.org/1999/xhtml" "xmlns:fb"="http://www.facebook.com/2008/fbml">
<head>
	<title><%= yield :title %> - GenghisCon</title>
	<link rel="shortcut icon" href="/images/rails.png"/>
	<%= stylesheet_link_tag "main" %>
	<%= stylesheet_link_tag "mainipad", :media => "only screen and (max-device-width: 1024px)"%>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= jqueryincludes %>
	<%= yield :header %>
</head>
<body>
  <div id="wrapper-top">
  <div id="login">
    <% if current_user %>
      <% permitted_to? :admin, :index do %>
        <%= link_to "Admin", :controller => "index", :action => "admin" %> |        
      <% end %>
      <%= link_to "Edit Profile", edit_user_path(:current) %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  <%= image_tag("topbar_logo.png", :height => 108, :width => 373)%>
  </div>
  <div id="topbar">
    <div id="content">
    <div class="floatright">14th January to 16th January 2011</div>
    GenghisCon 2011: The Wraith of Khan
    </div>
    <ul>
<% for page in ContentPage.topbar -%>
<% if "page" == controller.action_name && controller.controller_name == "content_viewer" && params[:id] == page.name -%>
<% liclass = "selected" -%>
<% else -%>
<% liclass = "unselected" -%>
<% end -%>
<li class="<%= liclass %>"><%= link_to("#{page.name.capitalize}", {:controller => "content_viewer", :action => "page", :id => page.name}) %></li>
<% end -%>
    </ul>
  </div>
  <div id="page">
    <div id="content">
	    <%= yield %>
	  </div>
	</div>
	<div id="bottombar">
  </div>
</body>
</html>