<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html "xmlns"="http://www.w3.org/1999/xhtml" "xmlns:fb"="http://www.facebook.com/2008/fbml">
<head>
	<title><%= yield :title %> - GenghisCon</title>
	<link rel="shortcut icon" href="/images/rails.png"/>
  <meta name="viewport" content="width=device-width" />
	<%= stylesheet_link_tag "mainiphone" %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>
  <div id="wrapper-top">
  </div>
  <div id="topbar">
    <ul>
      <% for page in ContentPage.topbar -%>
      <% if "page" == controller.action_name && controller.controller_name == "content_viewer" && params[:id] == page.name -%>
      <% liclass = "selected" -%>
      <% else -%>
      <% liclass = "unselected" -%>
      <% end -%>
      <%= link_to("<li class=\"#{liclass}\">#{page.name.capitalize}</li>", {:controller => "content_viewer", :action => "page", :id => page.name}) -%>
      <% end -%>
    </ul>
  </div>
  <div id="page">
    <div id="content">
	    <%= yield %>
	  </div>
</body>
</html>