<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html "xmlns"="http://www.w3.org/1999/xhtml" "xmlns:fb"="http://www.facebook.com/2008/fbml">
<head>
	<title><%= yield :title %> - GenghisCon</title>
	<link rel="shortcut icon" href="/images/browser-icon.png"/>
	<link rel="apple-touch-icon" href="/images/apple-icon.png" />
  <meta name="viewport" content="width=device-width" />
	<%= stylesheet_link_tag "mainiphone" %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= jqueryincludes %>	
	<%= yield :header %>
  <script src="http://platform.twitter.com/anywhere.js?id=<%= ENV['TWITTER_CONSUMER_KEY'] %>&v=1" type="text/javascript"></script>
</head>
<body>
  <div id="wrapper-top">
  </div>
	<div class="blackbar">
    <ul>
      <% for page in ContentPage.topbar -%>
      <% if "page" == controller.action_name && controller.controller_name == "content_viewer" && params[:id] == page.name -%>
      <% liclass = "selected" -%>
      <% else -%>
      <% liclass = "unselected" -%>
      <% end -%>
      <li class="<%= liclass %>"><%= link_to("#{page.name.capitalize}", {:controller => "content_viewer", :action => "page", :id => page.name}) %></li>
      <% end -%>
    </ul>
  </div>
  <div id="page">
    <div id="content">
	    <%= yield %>
	  </div>
	</div>
	<div class="blackbar">
	  <ul>
  	<% if current_user %>
      <% permitted_to? :admin, :index do %>
        <li class="unselected"><%= link_to "Admin", :controller => "index", :action => "admin" %></li>        
      <% end %>
      <li class="unselected"><%= link_to "Edit Profile", edit_user_path(:current) %></li>
      <li class="unselected"><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li class="unselected"><%= link_to "Register", new_user_path %></li>
      <li class="unselected"><%= link_to "Login", login_path %></li>
    <% end %>
    </ul>
  </div>
</body>
</html>